body {
	font-family: serif;
	font-size: 15px;
	color: grey;
	padding: center;
	text-align: center;
	margin: auto;
	background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("background.jpg");
 
}
a {
	color: white;}
b, tr {
	color: white;
	background: black;
}
}
ul {
	position: fixed;
	color: white;
	background: black;
	border: 5px double purple;
	padding: 5px 5px;
	margin: center;
	background: black;
}
li {
	position: fixed;
	background: transparent;	
	padding: 10px;
	margin: -10px -70px;
}
ul:hover {
	padding: 15px 120px;
	border: 10px double purple;
	background-color: black;
	transition: background 1s, height 2s, width 3s;
}
h1::before {
	content: "Analisis de Google";
	font-family: sans-serif;
	color: white;
	background: lightblue;
	border-radius: 100%;
	border: 100px orange;
	box-shadow: 2px 4px 10px 10px white;
 	text-shadow: 2px  2px 2px black,
              	 1px  1px 1px black,
              	-1px  0px 0px black,
              	 0px -1px 0px black;
}
h2 {
	color: white;
	font-size: 25px;
	font-family: sans-serif;
	padding: center;
	display: inline-block;
	box-sizing:: border-box;
	text-align: center;
	background: black;
	margin: 20px 600px;
	border-radius: 25%;
	border-style: groove;
	border
	box-shadow: 20px pink;
	color: black;
 	text-shadow: 1px  0px 0px white,
              	 0px  1px 0px white,
              	-1px  0px 0px white,
              	 0px -1px 0px white;
}
h3 {
	color: orange;
	font-family: sans-serif;
} 
h4 p {
	color: orange;
	font-family: sans-serif;
} 
[rancio="seeh"] {
	color: black;
	text-shadow: 1px  0px 0px white,
              	 0px  1px 0px white,
              	-1px  0px 0px white,
              	 0px -1px 0px white;
}
img {
	padding: 10px;
	font-size: x-large;
	border-color: red;
	border-radius: 20%;
	border: 20px ridge red;
	margin: 20px;
	outline: 1px ridge blue;
	transition: all 25s;
	object-fit: cover;
}
}
video {
	border: 20px ridge red;
	border-color: red;
}
[picantovich="color-red"] {
	color: white;
	background: transparent;
	font-size: 125px;
	transform: rotate(-25deg);
	padding: center;
	display: inline-block;
	text-align: center;
	margin: 80px 40px;
	text-shadow: 2px 2px 7px black
}
[rancho="color-yellow"] {
	color: blue;
	background: transparent;
	font-size: 100px;
	transform: rotate(-25deg);
	padding: center;
	display: inline-block;
	text-align: center;
	margin: 5px 5px;
	text-shadow: 2px 2px 7px black
	}
.flex-container {
	width: 200px;
	height: 200px;
	background-color: black;
	margin: auto;
	display: inline-flex;
	overflow: auto;
	background: transparent;
	padding: 10px;
	justify-content: space-between;
}

.caja2 {
	width: 200px;
	height: 190px;
	background-color: purple;
	margin: auto;
	display: inline-block;
}
.flex-item {
	width: 200px;
	height: 180px;
	background-color: black;
	margin: auto;
	display: inline-flex;
	overflow: auto;
	background: transparent;
	padding: center;
}
.caja3 {
	width: 200px;
	height: 200px;
	background-color: violet;
	margin: auto;
	display: inline-block;
}

.caja4 {
	width: 200px;
	height: 200px;
	background-color: lightblue;
	margin: auto;
	display: inline-block;
}

p { background: black;
	color: white;
 	padding: 5px;
	border-radius: 10%;
	border: 10px lightblue;
	margin: 10px;
	outline: 1px ridge blue;
	transition: all 25s;
	object-fit: cover;}
@media only screen and (max-width: 500px)